<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.manage.mapper.RolePermissionWriteMapper">

    <delete id="deleteByRoleId" parameterType="long">
        DELETE FROM role_permission WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert" parameterType="map">
        INSERT INTO role_permission (role_id, permission_id)
        VALUES
        <foreach item="pid" collection="permissionIds" separator=",">
            (#{roleId}, #{pid})
        </foreach>
    </insert>
</mapper>
