<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.manage.mapper.UserRoleWriteMapper">

    <delete id="deleteByUserId" parameterType="long">
        DELETE FROM user_role WHERE user_id = #{userId}
    </delete>

    <insert id="batchInsert" parameterType="map">
        INSERT INTO user_role (user_id, role_id)
        VALUES
        <foreach item="rid" collection="roleIds" separator=",">
            (#{userId}, #{rid})
        </foreach>
    </insert>
</mapper>
